

.degree_symbol:not(:empty)::after {
    content: "°"
}

.owm-legend-item{
    display: none;
}

body{
    margin: 0%;
    padding: 0;
}
h1{
    color:#707070;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
    margin-bottom: 1vw;
    padding: 0%;
    font-size: 3vw;
}
h2{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25vw;

    
}
h3{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
        margin: 0px;
        margin-left: 1vw;
        margin-top: 1.3vh;
        padding: 0px;;
        text-align: center; 
        font-size: 5vw;
      vertical-align: middle;

}
h4{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.9vw;
    margin-bottom: 1.25vw;
}
p{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

    .topbar {    
        padding: 0%;
        margin: 0%;
        display: grid;
        grid-template-columns: 33.1vw 1fr;
        grid-column-gap: 0px;
        background-color:  #E4E4E4;
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        }
            #domainname {
                margin: 1vw; 
            }
        #domainname+p {
            text-align: center;
            background-color: rgb(242, 156, 156);
            margin: 0;
            vertical-align: middle;
        }
    .left{
        width: 33.25vw;
        position: fixed;
        left: 0;
        top: 0;
        margin-top: 15vh;
        }
        .timebar {
            background-color: #BCE0FF;
            display: grid;
            grid-template-columns: 1fr 2fr;
            margin-bottom: 1.6vh;

        }
            .time{
                margin-left: 1vw;
                text-align: center;  
                }
                .time h1{
                    font-size: 1.9vw;
                }
                .time p{
                    font-size: 4vw;
                    color:#707070;
                
                }
            .today{
                margin-right: 10px;
                text-align: center;
                }
                .today h1{
                    font-size: 1.9vw;
                }
                .today p{
                    font-size: 4vw;
                    color:#707070;
                }
        .tempbar {
            background-color: #FFCE00;
            display:grid;
            grid-template-areas: 
            't1 t1'
            't2 t3'
            't4 t4';
            grid-auto-columns: 1fr 1fr;
            grid-column-gap: 10px;
            grid-auto-rows: .5fr 2fr 11fr;
            }
            .t1 { 
            grid-area: t1; 
            text-align: center;
            margin-top: 10px;
            font-size: 1.9vw;

            }

            .t2 { 
            grid-area: t2; 
            background-color: #E4E4E4;
            text-align: center;
            margin-left: 1.9vw;
            }
                .t2 p{
                    font-size:6vw;
                    margin-bottom: 1.9vh;
                    color: #707070;
                }
            
            .t3 {
            grid-area: t3; 
            background-color: #E4E4E4;
            text-align: center;
            margin-right: 1.9vw;
            }

                .t3 p{
                    font-size: 5.5vw;
                    margin-bottom: 1vh;
                    color: #707070;
                }

            .t4 {
            grid-area: t4; 
            text-align: center;
            }

                .t4 p{
                    font-size: 5vw;
                    margin-top: 1vh;
                    margin-bottom: 1.9vh;
                    color: #707070;
                }
                .t4 h1{
                    margin-bottom: -1vh;
                }
.right{

    margin-left: 33.25vw;
    padding-left:10px;
    right:0;

}
    .topgrid {

        display: grid;
        grid-template-areas: 
        'loco loco loco'
        'prec map map'       
        'desc map map'
        'desc map map'     
        ;
        grid-auto-columns: 2fr 2fr;
        grid-row-gap: 1.3vh;
        grid-column-gap: 1.3vw;
        grid-template-rows: .5fr 1.5fr 1.5fr 1.5fr;
        margin-top: 15vh;
        margin-right:0vw;
        height: 80vh;
    }
        .precipitation {
        background-color: #69BAFF;
        grid-area: prec;
        color: #E5F2FF;
        font-size: 1.6vw;
        }
        .precipitation h1{
            color: white;
            font-size: 1.9vw;
            margin-top: 1.9vw;
            margin-left: 1.9vw;
            margin-bottom: 0;
        }
        .precipitation p{
            font-size: 5.7vw;
            margin-bottom: 20px;
            text-align: center;

            
        }
        #map {
            grid-area: map; 
            background-color: #E5F2FF;  
        }
        .locationbar {
            background-color:  #E4E4E4;
            grid-area: loco;
            margin-bottom: .5vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: .3vw;
            

    }
    input{ 
        width: 50vw;
        height: 3vw;
        }

        .locationbar p{
        font-size: 3.2vw;

        }
    .currentweather{
        grid-area: desc;
        height:100px;
}
.currentweather img{
    height: 30vh;
    padding: 6vh;
}
.middlegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 5.6vw;
    margin-right: 1.3vw;
    margin-bottom: 1.3vw;
    grid-gap: 3.9vw;
}
.middlegrid h4{
margin-top: 3vh;
margin-left: 1.3vw;
}
.middlegrid p{
    text-align: center;
    font-size: 2.4vw;
    margin-top: 6vh;
}
.half1{
    display: grid;
    grid-template-columns: 25% 25% 50%;
}
.half1 h4{
    font-size: 1vw;
    margin-top: 6vh;
}
.half1 p{
    color: #707070;
    font-size: 3.5vw;
}
.half2{
    display: grid;
    grid-template-columns: 25% 25% 50%;
}
.half2 h4{
    font-size: 1vw;
    margin-top: 6vh;
}
.half2 p{
    color: #707070;
    font-size: 3.5vw;
}
.sunrisesunset{
   display: grid;
    grid-template-rows: 8.6vh, 8.6vh;
    grid-row-gap: 1.3vw;
}
.sunrisesunset img{
    height:4vw;
    margin-top: 3vh;
}

.airquality{
background-color: #69BAFF;
    padding: 1vw;
}
.airquality p{
    font-size: 7vw;
}
.humidity{
   background-color: #FFFFFF;
    color: #707070;
}
    .humidity p{
        font-size: 7vw;
}
.wind{

    color: #FFFFFF;
    display: grid;
    grid-template-rows: 50%, 50%;
    grid-row-gap: 1.3vw;

    vertical-align: middle;
}
.wind .half1{
    background-color: #69BAFF;
    grid-template-columns: 40% 50%;
}
    .wind .half2{
    background-color:  #69BAFF;
    grid-template-columns: 50% 50%;
    }
.wind h4{
    margin-top: 1.5vw;
    font-size: 1.6vw;
}
.wind p{
    margin-top: 1.5vw;
}
.coverage{
    background-color: #E4E4E4;
       color: #707070;
           padding: 1vw;
}
    .coverage p{
        font-size: 7vw;
    }
.uvindex{
background-color: #FFCE00;
    color: #707070;
    padding: 1vw;
}
    .uvindex p{
        padding-top: .5vw;
        font-size: 4.5vw;
    }

.pressure{
    background-color: #BCE0FF;
    color: #707070;
        padding: 1vw;
}
    .pressure p{
        font-size: 3.5vw;
        padding-top: .8vw;
    }
.dewpoint{
    background-color: #E4E4E4;
    color: #707070;
    padding: 1vw;
}
    .dewpoint p{
        font-size: 5.7vw;
    }
.visibility{
    background-color: #BCE0FF;
    color: #707070;
    padding: 1vw;
}
    .visibility p{
        font-size: 7vw;
    }
.forecast{
    background-color: #FFCE00;
}
.bottomgrid{
    display: grid;
    overflow: scroll;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1vw;
}
.bottomgrid h2{
    margin: 0;
    padding: vw;
}
    .dateof{
    background-color: #1F98FF;
    color: #FFFFFF;
    font-size: 3vw;
    text-align: center;
    padding: 1vw;
    }
        .dateof h4{
        padding: 0%;
        margin: 0%;
        font-size: 1.6vw;
     
        }
    .highlowforecast{
    background-color: #4AACFF;
    color: #FFFFFF;
    padding: .5vw;
    font-size: 2vw;
    text-align: center;
    }
    .precipationforecast {
    background-color: #8BCAFF;
    color: #FFFFFF;
    padding: .5vw;

    }
        .precipationforecast p{
        color: #FFFFFF;
        text-align: center;
        font-size: 1.6vw;
        }
    .forecastdescription{
    background-color:#A9D6FD;
    color: #FFFFFF;
    padding: .5vw;
    text-align: center;

    }
    .visibilityforecast{
    background-color: #CEE8FF;
    color: #FFFFFF;
    display: grid;
    padding: .5vw;
    }
        .visibilityforecast p{
        text-align: center;
        font-size: 1.3vw;
        }
    .windforecast{
    background-color: #E5F2FF;
    color: #707070;
    padding: .5vw;
    font-size: 1.2vw
    }
        .windforecast p{
            text-align: center;
  

        }
    .pressureforecast{
    background-color: #F5FAFF;
    color: #707070;
    padding: .5vw;
    margin: 0;
    }
        .pressureforecast p{
            text-align: center;
            font-size: 1.3vw;
            margin: 0;
        }
    .uvforecast{
    background-color: #FFFFFF;
    color: #707070;
    padding: 1vw;
    text-align: center;
    }
    .uvforecast h2{
        margin-block-start: 0px;
        padding: 0;
    }
        .uvforecast p{
        font-size: 1.3vw;
        color: #707070;
        }

    .colorbottombar{
    display: block;
    background-color: #1F98FF;
    }
    .forecastdescription{
        padding: .5vw;
    }
    
.date1 { 
    display: grid;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh; 
    width: 12vw;
}
.date2{
    display: grid;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh; 
    width: 12vw;
}
.date3{
    display: grid;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh; 
    width: 12vw;
}
.date4{
    display: grid;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh; 
    width: 12vw;
}
.date5{
    display: grid;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh; 
    width: 12vw;
}
.date6{
    display: grid;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh; 
    width: 12vw;
}
.date7{
    display: grid;
    grid-template-rows: 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh 7vh; 
    width: 12vw;

}
.icon{

width: 100px;
height: 100px;
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .left{
        margin-top: 7vh;
    }
    .topgrid{
    margin-top: 7vh;
        height: 50vh;
    }
.date1 { 
    display: grid;
    grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh; 
    width: 12vw;
}
.date2{
    display: grid;
    grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh; 
    width: 12vw;
}
.date3{
    display: grid;
    grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh; 
    width: 12vw;
}
.date4{
    display: grid;
    grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh; 
    width: 12vw;
}
.date5{
    display: grid;
    grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh; 
    width: 12vw;
}
.date6{
    display: grid;
    grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh; 
    width: 12vw;
}
.date7{
    display: grid;
    grid-template-rows: 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh 3vh; 
    width: 12vw;
}
.currentweather img{
    height: 9vh;
}
@media only screen and (min-width: 600px) and (max-width: 830px) {
        .left{
        margin-top: 9vh;
        }
        .topgrid {
        margin-top: 9vh;
        }
        .date1 { 
            display: grid;
            grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh; 
            width: 12vw;
        }
        .date2{
            display: grid;
            grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh; 
            width: 12vw;
        }
        .date3{
            display: grid;
            grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh; 
            width: 12vw;
        }
        .date4{
            display: grid;
            grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh; 
            width: 12vw;
        }
        .date5{
            display: grid;
            grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh; 
            width: 12vw;
        }
        .date6{
            display: grid;
            grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh; 
            width: 12vw;
        }
        .date7{
            display: grid;
            grid-template-rows: 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh 4vh; 
            width: 12vw;
        }
.currentweather img{
    height: 5vh;
}
}